
  <!-- More Features Section -->
  <section id="more-features" class="more-features section">

    <div class="container">

      <div class="row justify-content-around gy-4">

        <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          <h3>More Services Offered by US</h3>
          <p>Building digital solutions with innovations</p>

          <div class="row">

            <div class="col-lg-6 icon-box d-flex">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4>AI-Powered Healthcare Solutions</h4>
                <p>Revolutionize healthcare delivery with our intelligent solutions. We develop AI-powered mobile apps and web systems for patient monitoring, diagnostics, personalized treatment plans, and predictive analytics, empowering healthcare providers to deliver better care. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-lg-6 icon-box d-flex">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4>Smart Education Platforms</h4>
                <p>Transform the learning experience with our innovative education technology. We build engaging mobile apps and web platforms that personalize learning, track student progress, and provide valuable insights for educators, fostering a dynamic and effective learning environment</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-lg-6 icon-box d-flex">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4>FinTech Solutions</h4>
                <p>Drive innovation in the financial sector with our cutting-edge solutions. We develop secure and reliable mobile apps and web systems for mobile banking, investment management, fraud detection, and personalized financial planning, empowering financial institutions and their customers.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-lg-6 icon-box d-flex">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4>IoT-Enabled Applications</h4>
                <p>Connect the physical and digital worlds with our IoT expertise. We develop applications that leverage data from connected devices to optimize processes, improve efficiency, and create new possibilities in healthcare, education, finance, and beyond.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>

        </div>

        <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/features-3.jpg" alt="">
        </div>

      </div>

    </div>

  </section><!-- /More Features Section -->