
  <!-- Faq Section -->
  <section id="faq" class="faq section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

          <div class="faq-container">

            <div class="faq-item faq-active">
              <h3>What types of software development services do you offer?</h3>
              <div class="faq-content">
                <p>We specialize in a wide range of software development services, including:

                  Mobile app development (iOS and Android)
                  Website design and development
                  Custom software solutions
                  E-commerce development
                  IT system integration</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>What is your development process like?</h3>
              <div class="faq-content">
                <p>We follow a collaborative and agile development process, involving our clients at every stage to ensure their vision is realized. Our typical process includes:

                  Requirements gathering and analysis
                  Design and prototyping
                  Development and testing
                  Deployment and launch
                  Ongoing maintenance and support.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>What technologies do you specialize in??</h3>
              <div class="faq-content">
                <p>Our team is proficient in a variety of cutting-edge technologies, including:

                  Programming languages: Java, Python, JavaScript, Swift, Kotlin
                  Frameworks: React, Angular, Node.js, .NET
                  Databases: MySQL, PostgreSQL, MongoDB
                  Cloud platforms: AWS, Azure, GCP</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>What industries do you have experience in?</h3>
              <div class="faq-content">
                <p>We have successfully delivered software solutions for clients across various industries, including:

                  Healthcare
                  Education
                  Retail
                  Finance
                  Manufacturing</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>Do you offer post-development support and maintenance?
              </h3>
              <div class="faq-content">
                <p>Yes, we provide comprehensive post-development support and maintenance services to ensure your software remains up-to-date, secure, and optimized for performance.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3>How do you ensure the quality of your software solutions?</h3>
              <div class="faq-content">
                <p>We are committed to delivering high-quality software solutions through rigorous testing and quality assurance processes at every stage of development.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div><!-- End Faq Column-->

      </div>

    </div>

  </section><!-- /Faq Section -->