
  <!-- Pricing Section -->
  <section id="pricing" class="pricing section" >

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Explore different pricing strategies.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Free Plan</h3>
            <p class="description">Perfect for Individuals and small businesses looking to explore basic software solutions. 

            </p>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Limited access to basic features and functionalities.</span></li>
              <li><i class="bi bi-check"></i> <span>Standard templates and pre-built components.</span></li>
              <li><i class="bi bi-check"></i> <span>Community support and online resources.</span></li>
              <li><i class="bi bi-check"></i> <span>Ideal for prototyping and testing ideas.</span></li>

              <li class="na"><i class="bi bi-x"></i> <span>Dedicated support and onboarding assistance.</span></li>                
              <li class="na"><i class="bi bi-x"></i> <span>Scalable solutions to accommodate business growth.</span></li>                

            </ul>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-item featured">
            <p class="popular">Popular</p>
            <h3>Business Plan</h3>
            <p class="description">Perfect for Growing businesses needing more robust and customized solutions.</p>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Access to a wider range of features and functionalities.</span></li>
              <li><i class="bi bi-check"></i> <span>Customizable templates and integrations.</span></li>
              <li><i class="bi bi-check"></i> <span>Dedicated support and onboarding assistance.</span></li>
              <li><i class="bi bi-check"></i> <span>Scalable solutions to accommodate business growth.</span></li>
              <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              <li><i class="bi bi-check"></i> <span>Suitable for small to medium-sized projects.</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Tailored solutions for complex projects and integrations.</span></li>
            </ul>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="pricing-item">
            <h3>Developer Plan</h3>
            <p class="description">Perfect for Large enterprises and developers seeking advanced capabilities and flexibility.</p>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Full access to all features and functionalities.</span></li>
              <li><i class="bi bi-check"></i> <span>Advanced customization and API integrations.</span></li>
              <li><i class="bi bi-check"></i> <span>Priority support and dedicated account management.</span></li>
              <li><i class="bi bi-check"></i> <span>High-performance infrastructure and scalability.</span></li>
              <li><i class="bi bi-check"></i> <span>Tailored solutions for complex projects and integrations.</span></li>
            
            </ul>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>

  </section><!-- /Pricing Section -->