  
      <app-navigation> </app-navigation>
  

<main class="main">
<app-hero> </app-hero>
<app-feature-service></app-feature-service>
<app-about-us></app-about-us>
<app-clients></app-clients>

<app-feature></app-feature>
 <app-feature-details></app-feature-details>
<app-services></app-services>
<app-more-features></app-more-features>
<app-pricing></app-pricing>
  <app-faq>
  </app-faq>
<app-testimonials></app-testimonials>
<app-contact-form></app-contact-form>
</main>
<app-footer></app-footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<router-outlet />
