<!-- Services Section -->
<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p></p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row g-5">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-cyan position-relative">
            <i class="bi bi-activity icon"></i>
            <div>
              <h3>Mobile App Development (iOS & Android)</h3>
              <p>We craft engaging and user-friendly mobile apps that bring your ideas to life. From concept to launch, we handle design, development, testing, and deployment, ensuring your app makes a splash in the market.</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item item-orange position-relative">
            <i class="bi bi-broadcast icon"></i>
            <div>
              <h3>Web Application Development</h3>
              <p>We build robust and scalable web applications that power your business processes. Whether it's a customer-facing portal, an internal management system, or an e-commerce platform, we deliver solutions that are secure, reliable, and tailored to your needs.</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <i class="bi bi-easel icon"></i>
            <div>
              <h3>Custom Software Solutions</h3>
              <p>Got a unique challenge that off-the-shelf software can't solve? We design and develop bespoke software solutions that streamline your operations, automate tasks, and give you a competitive edge</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item item-red position-relative">
            <i class="bi bi-bounding-box-circles icon"></i>
            <div>
              <h3>Cloud Computing Services</h3>
              <p>Migrate your infrastructure to the cloud and unlock scalability, cost-efficiency, and enhanced security. We provide cloud consulting, migration, and management services to help you harness the power of cloud platforms like AWS, Azure, and GCP.</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item item-indigo position-relative">
            <i class="bi bi-calendar4-week icon"></i>
            <div>
              <h3>Data Analytics & Business Intelligence</h3>
              <p>Turn your data into actionable insights. We provide data analysis, visualization, and reporting services that help you understand your customers, optimize your operations, and make data-driven decisions.</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item item-pink position-relative">
            <i class="bi bi-chat-square-text icon"></i>
            <div>
              <h3>IT Consulting & Support</h3>
              <p>Need expert guidance on your IT strategy or ongoing support for your systems? We offer IT consulting, troubleshooting, and maintenance services to keep your technology running smoothly and efficiently.</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->