<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
  
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.png" alt="">
        <h1 class="sitename">Shivansh Softwares</h1>
      </a>      

<nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="index.html#hero" class="active">Home</a></li>
      <li><a href="index.html#about">About</a></li>
      <li><a href="index.html#features">Features</a></li>
      <li><a href="index.html#services">Services</a></li>
      <li><a href="index.html#pricing">Pricing</a></li>
      <li class="dropdown"><a href="#"><span>Upcoming Projects</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          <li><a href="#">Dropdown 1</a></li>
          <li class="dropdown"><a href="#"><span>Smart Retail</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Smart Retail Fashion</a></li>
              <li><a href="#">Smart Retail Pharmacy</a></li>
              <li><a href="#">Smart Retail Pro</a></li>               
            </ul>
          </li>
          <li><a href="#">Contact Backup</a></li>
          <li><a href="#">Hidden chat app</a></li>
          <li><a href="#">Community Tree</a></li>
          <li><a href="#">Travel Manager</a></li>
          <li><a href="#">School Management</a></li>
          <li><a href="#">Personal Finance</a></li>

        </ul>
      </li>
      <li><a href="index.html#contact">Contact</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
  <a class="btn-getstarted" href="index.html#about">Get Started</a>
  
</div>
</header>