<!-- Features Section -->
<section id="features" class="features section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Features</h2>
      <p>Custom solution for your business</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-5 d-flex align-items-center">

          <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                <i class="bi bi-binoculars"></i>
                <div>
                  <h4 class="d-none d-lg-block">Budget Friendly</h4>
                  <p>
                    We develop apps and websites at affordable prices.
                  </p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                <i class="bi bi-box-seam"></i>
                <div>
                  <h4 class="d-none d-lg-block">Professional Support</h4>
                  <p>
                    1 Year Free support for all our products. 
                  </p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                <i class="bi bi-brightness-high"></i>
                <div>
                  <h4 class="d-none d-lg-block">Focused on customer success</h4>
                  <p>
                    Beautiful and easy to use UI, professional animations.
                  </p>
                </div>
              </a>
            </li>
          </ul><!-- End Tab Nav -->

        </div>

        <div class="col-lg-6">

          <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

            <div class="tab-pane fade active show" id="features-tab-1">
              <img src="assets/img/tabs-1.jpg" alt="" class="img-fluid">
            </div><!-- End Tab Content Item -->

            <div class="tab-pane fade" id="features-tab-2">
              <img src="assets/img/tabs-2.jpg" alt="" class="img-fluid">
            </div><!-- End Tab Content Item -->

            <div class="tab-pane fade" id="features-tab-3">
              <img src="assets/img/tabs-3.jpg" alt="" class="img-fluid">
            </div><!-- End Tab Content Item -->
          </div>

        </div>

      </div>

    </div>

  </section><!-- /Features Section -->